* {
  box-sizing: border-box;
}

/* body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
} */

/* Center website */
.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.gallery-row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.gallery-row,
.gallery-row > .column {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Clear floats after gallery-rows */
.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
}

/* Images */
.image-container {
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 200px;
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 0.5px solid black;
  object-fit: cover;
}

.hover-container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-container:hover img {
  opacity: 0.3;
}

.image-container:hover .hover-container {
  opacity: 1;
}

.link-text {
  background-color: #007aff;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
}

.coming-soon-text {
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
}

p {
  padding: 20px 0px;
  margin: 0 auto;
  width: 70%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 1000px) {
  img {
    width: 60%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 675px) {
  .column {
    width: 50%;
  }
}
@media screen and (min-width: 530px) {
  img {
    width: 60%;
  }
}
