.outer-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

.tab-container,
.tab-content-container {
  background-color: var(--dxp-g-neutral);
  border-radius: 5px;
}

.tab-container {
  margin-bottom: 20px;
}

.column {
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 25px 0px;
}

h2 {
  font-size: 30px;
  margin: 20px 0px;
}

.certifications {
  background-color: #009edb;
}

.b1 {
  border: 3px solid #009edb;
}

.education {
  background-color: #4b08a1;
}

.b2 {
  border: 3px solid #0f511a;
}

.trailhead {
  background-color: #0f511a;
}

.b3 {
  border: 3px solid #4b08a1;
}

.certifications,
.trailhead,
.education {
  border-radius: 5px;
}

.b1,
.b2,
.b3 {
  border-radius: 5px;
  background-color: var(--dxp-g-neutral);
  margin: 0px;
  padding: 20px;
}

.cert-image,
.trailhead-image,
.resume-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.open {
  display: block;
}

.closed {
  display: none;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: black;
  font-size: 35px;
  cursor: pointer;
  margin: 0;
}

.trailhead-profile-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 30px;
}

@media only screen and (min-width: 1000px) {
  .row {
    display: flex;
  }

  .column {
    width: 33.33%;
  }

  h1 {
    font-size: 56px;
  }
}
