h1 {
  font-size: 56px;
  text-align: center;
  margin: 25px 0px;
}

h2 {
  font-size: 30px;
  margin: 20px 0px;
}

.certifications {
  background-color: #009edb;
}

.b1 {
  border: 10px solid #009edb;
  background-color: var(--dxp-g-neutral);
}

.cert-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.trailhead {
  background-color: #45c65a;
  color: #000000;
}

.b2 {
  border: 10px solid #45c65a;
  background-color: var(--dxp-g-neutral);
}

.trailhead-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.education {
  background-color: #4b08a1;
}

.b3 {
  border: 10px solid #4b08a1;
  background-color: var(--dxp-g-neutral);
}

.certifications,
.trailhead,
.education {
  border-radius: 5px;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.open {
  display: block;
}

.closed {
  display: none;
}

.containerTab {
  padding: 20px;
  color: white;
}

.row {
  margin: 0px 0px 15px 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: black;
  font-size: 35px;
  cursor: pointer;
}

lightning-formatted-url {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0070d2;
  color: white;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.trailhead-profile-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 30px;
}
