h1 {
  font-size: 56px;
  text-align: center;
  margin: 25px 0px;
}

h2 {
  font-size: 30px;
  margin: 20px 0px;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.open {
  display: block;
}

.closed {
  display: none;
}

.containerTab {
  padding: 20px;
  color: white;
}

.row {
  margin: 0px 0px 15px 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
